<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"
    />

    <title>Bias Exploration</title>
  </head>

  <body>
    <div class="top-section d-flex align-items-center justify-content-center">
      <h1>Bias Detection</h1>
    </div>

    <div class="middle-section">
      <div class="container mt-5">
        <form method="POST">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.text.label(class="d-block") }} {{
            form.text(class="form-control mb-3") }}
          </div>
          <div class="form-group">
            {{ form.text2.label(class="d-block") }} {{
            form.text2(class="form-control mb-3") }}
          </div>
          <div class="form-group">
            {{ form.text3.label(class="d-block") }} {{
            form.text3(class="form-control mb-3") }}
          </div>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>
    </div>
    <center>
      <div class="bottom-section">
        <div class="container mt-5">
          <p class="mb-4">
            Explore whether there are any biases or stereotypes present in
            glove_wiki_vectors embeddings.
          </p>
          <p class="mb-4">
            Return the word that has the same relation with w3 that w2 has with
            w1. eg: man, doctor, woman?
          </p>
        </div>
      </div>
    </center>
  </body>
</html>
